<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddressBook</title>
</head>
<body>
    <form action="/addContact" method="POST">
        <label>Name</label>
        <input type="text" name="name" align = "center" ><br>
        <label>MobileNo</label>
        <input type="number" name="MobileNo" align = "center"><br>
        <label>City</label>
        <input type="text" name="city"><br>
        <label>Profession</label>
        <input type="text" name="profession"><br>
        <input type="submit" name="submit" value = "submit">

    </form>
</body>
</html>