<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <h1>SignUp</h1>
    <form action="/signupComplete" method="POST">
        <label">Enter Email</label>
        <input type="text" name = "email"><br>
        <label">Enter Password</label>
        <input type="text" name = "password"><br>
        <input type="submit" name="submit" value="Submit">
    </form>
    </form>
    {{msg}}
</body>
</html>